.acme-navbar-text {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;

}

.navbar-title {
 flex: 1;
  padding-left: 15px;
}

.search-button {
  height: 50%;
  padding-right: 15px;
}
